*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(238,238,238);
}

h2{
    margin-bottom: 20px;
    padding: 12px;
    font-size: 36px;
    color:black;
}

.cards-layout{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}


.card{
    flex-wrap: wrap;
    display: flex;
    /* height: auto; */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.cards-layout.masonry{
    flex-direction: column;
    width: 50%;
    height: 220vh;
    
}

.cards-layout.masonry .card{
    
    /* height: 30%; */
    width: 30%;
}

.cards-layout.flex{
    flex-direction: row;
    width: 50%;    
}

.cards-layout.flex .card{
    flex-basis: 30%;
    height: auto;
}

.cards-layout img{
    width: 100%;
    height: auto;
}




.card section, .card footer{
    margin: 0;
}

.card footer{
    margin-top: auto;
}

.card footer{
    border-top: 1px solid gray;
}
